# Please Download ffmpeg Manually in your system for the Speech-to-Text Functionality
web3
pydantic
uvicorn
fastapi
SQLAlchemy
openai
pydub
gtts
python-jose
passlib
bcrypt
broadlink
pandas
matplotlib
seaborn